.main {
    flex: 1;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.gridIcon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.1;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
}
.gidTitle {
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
}
.gridInfo {
    font-size: 12px;
    margin-top: 14px;
}
.imc {
    font-size: 17px;
    margin: 10px 0 30px 0;
}